# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Package files
*.jar

#Bin files
*.bin

#build files
build/*
util/m5/build/*

#temp outfiles
m5out/
*lane*txt

#Other repos
src/upstream/upv0.1/

#test binaries
tests/test-progs/upstream-snap/bin/
tests/test-progs/upstream/bin/

#datasets
tests/test-progs/upstream-snap/src/tests/datasets/facebook/edgefiles/*.edges
tests/test-progs/upstream-snap/src/tests/datasets/facebook/edgefiles/binfiles
tests/test-progs/upstream-snap/src/tests/datasets/web-Google/edgefiles/*.txt
tests/test-progs/upstream-snap/src/tests/datasets/web-Google/edgefiles/binfiles
tests/test-progs/upstream-snap/src/tests/datasets/lj/edgefiles/*.txt
tests/test-progs/upstream-snap/src/tests/datasets/lj/edgefiles/binfiles
tests/test-progs/upstream-snap/src/tests/datasets/wiki/edgefiles/*.txt
tests/test-progs/upstream-snap/src/tests/datasets/wiki/edgefiles/binfiles
tests/test-progs/upstream-snap/src/tests/datasets/flickr/edgefiles/*.txt
tests/test-progs/upstream-snap/src/tests/datasets/flickr/edgefiles/binfiles
tests/test-progs/upstream-snap/src/tests/datasets/syn-new/edgefiles/*.txt
tests/test-progs/upstream-snap/src/tests/datasets/syn-new/edgefiles/binfiles
tests/test-progs/upstream-snap/src/tests/datasets/synthetic/*.txt
tests/test-progs/upstream-snap/src/tests/datasets/synthetic/binfiles

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

#Swap files
*.swp
*.swo

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

#Ignore all log files
# *log*
*.out
m5out*/

#Files Miscellaneous to ignore 
configs/upstream/upstream.h
tests/test-progs/upstream-snap/src/tests/triangle-count-upstream-multi-opt-ckpt
tests/test-progs/upstream-snap/src/tests/triangle-count-upstream-multi-opt
tests/test-progs/upstream-snap/src/tests/datasets/synthetic/synthetic.tar
tests/test-progs/upstream-snap/src/tests/datasets/synthetic/list
simout/
runcmd
extract_stats.py
cmdline
parsetab.py

#Files in UpDown to ignore 
ext/updown/install/
ext/updown/build/

# m5/utils
util/m5/build/


.cache/**
.vscode/**

output_dir/**
slurm_scripts/*/**